@page "/sensor/create"
@inject HttpClient http
@inject NavigationManager uriHelper
@inject IJSRuntime js

<h3>Create sensor</h3>

<SensorForm ButtonText="Create sensor" Sensor="@sensor"
            OnValidSubmit="@Create" />

@code {
    Sensor sensor = new Sensor();
    async Task Create()
    {
        if (!string.IsNullOrWhiteSpace(sensor.Name) && !string.IsNullOrWhiteSpace(sensor.MeasuringUnit))
        {

            await http.PostAsJsonAsync("api/sensor", sensor);
            await js.InvokeVoidAsync("alert", $"Created Successfully!");
            uriHelper.NavigateTo("sensor/settings");
        }
    }
}