<div class="top-row pl-4 navbar navbar-dark bg-danger">
    <a class="navbar-brand" href="">FakeDataGenerator</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass bg-light h-100 border border-danger" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class=" nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home text-danger" aria-hidden="true"></span><div class="text-danger"> Overview</div>
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="humidity/create">
                <span class="oi oi-plus text-danger" aria-hidden="true"></span><div class="text-danger"> Humidity</div>
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Humidity">
                <span class="oi oi-list-rich text-danger" aria-hidden="true"></span><div class="text-danger"> NothingHereYet</div>
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
